body{
    text-align: center;
}
#colorBox{
    font-size: 35px;
    margin: 20px;
    padding: 10px;
    border: 1px solid black;
    display: inline-block;
    background-color: #fff;
    border-radius: 8px;
}
button{
    color: white;
    background-color: black;
    font-size: 25px;
    border-radius: 8px;
    cursor: pointer;
}
button:hover{
    background-color: rgb(72, 67, 67);
}